.custom-box {
    box-shadow: 0 0 10px 0 red;
  }
  .zoom-box {
    transition: transform 0.3s;
  }
  
  .zoom-box:hover {
    transform: scale(1.1);
  }
  .maindiv {
    position: relative;
  }
  
  .wave {
    position: absolute;
    bottom: 0;
  }

  