.custom-box {
  box-shadow:
     5px 5px 5px rgba(248, 3, 3, 0.424), 
     5px 5px 5px #daa520a6, 
     5px 5px 5px rgba(255, 0, 0, 0.404);
  }
.custom-box2 {
  box-shadow:
     5px 5px 5px #daa52078, 
     5px 5px 5px rgba(248, 3, 3, 0.562), 
     5px 5px 5px #daa52081;
  }

  .zoom-box {
    transition: transform 0.3s;
  }
  
  .zoom-box:hover {
    transform: scale(1.1);
  }

  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(248, 10, 10, 0.7);
    color: white;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .photo-item:hover .caption {
    opacity: 1;
  }